@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-hind-siliguri: 'Hind Siliguri', sans-serif;
}

.font-hind-siliguri {
  font-family: var(--font-hind-siliguri);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-inter {
  font-family: var(--font-inter);
}
